.container {
 margin-top: 50px;
}

#nav {
 margin: 13px 0 0 0;
 alignment: left;
}

#nav ul li {
 display: inline;
 margin: 0 20px 130px 0;
}

#nav a {
 text-decoration: none;
}


#logout {
 text-align: right;
 margin-left: auto;
}

form {
 text-align: center;
}