.container {
    margin-top: 50px;
}

#homeAnchor {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

#nav {
    margin: 28px 0 0 0;
    alignment: left;
}

#nav ul li {
    display: inline;
    margin: 0 20px 130px 0;
}

#nav a {
    text-decoration: none;
    color: white;
}


#logout, #login {
    text-align: right;
}

form {
    text-align: center;
}

body {
    background-image: linear-gradient(to right top, #000000, #0b0b0b, #131313, #191919, #1f1f1f, #292929, #333333, #3e3e3e, #505050, #646464, #787878, #8c8c8c);
    background-attachment: fixed;
}